* {
    margin: 10px;
    padding: 0;
    font-family: Ubuntu, Consolas;
    color: white;
}

::-webkit-scrollbar {
    width: 12px; /* Adjust the width as desired */
    appearance: none;
}

::-webkit-scrollbar-thumb {
    border-radius: 50px;
    background: rgb(0, 140, 255);
}

::-webkit-scrollbar-track {
    background: rgb(0, 0, 122);
}

body {
    background: -webkit-linear-gradient(black, rgb(1, 1, 126));
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.index {
    text-align: center;
    list-style-type: none;
    font-size: 1.5rem;
}

.index li a {
    text-decoration: none;
}

h2 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 2rem;
}

table {
    margin: auto;
    border-collapse: collapse;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #090083;
}